
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}
h1, h2 {
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
.container {
  background-color: whitesmoke;
  font-family: helvetica, arial, sans-serif;
  max-width: 90%;
  margin: 0 auto;
}

header {
  background: whitesmoke;
}

header img {
  max-width: 20%;
}

header a {
  float: right;
  font-style: italic;
  text-decoration: none;
  padding-top: 20px;
  color: black;
  font-size: xx-large;
}

header a:hover{
  color: lightgreen;
}
main {
  background: whitesmoke;
  color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
  color: white;
}

aside {
  background: whitesmoke;
  color: black;
}

aside img {
  width: 40%;
}

table, th, td {
  border: 1px solid black;
}
table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  height: 50px;
  vertical-align: middle;
}
.th, td {
  padding: 15px;
  text-align: left;
}

tr:hover {background-color: #f5f5f5;}

th {
  background-color: #4CAF50;
  color: white;
}

table a {
  text-decoration: none;
  font-style: italic;
  color: #000;
}

table a:hover{
  color: lightgreen;
}



@media (min-width : 600px) {
  nav {
    width: 25%;
    float: left;
  }

  main {
    width: 75%;
    float: left;
  }

  aside {
    clear: both;
  }
}

@media (min-width : 850px) {

  main {
    width: 50%;
  }

  aside {
    width: 25%;
    clear: none;
    float: right;
  }
}